.menu__botao {
    background-color: #ffffff;
    border: transparent;
    margin: 0 1em 0 0;
}

.menu__botao i {
    background-color: #ffffff;
    color: #A2A2A2;
}

.menu__botao:hover {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .menu__botao {
        padding: 0 0;
    }
}