.banner__botao {
    background-color: var(--roxo);
    border: none;
    color: var(--texto-destaque);
    height: 51px;
    width: 130px;
}

.banner__botao:hover {
    background-color: var(--azul);
    color: var(--texto-destaque);
    cursor: pointer;
}

.banner__botao a {
    text-decoration: none;
    color: var(--texto-destaque);
}