.cabecalho {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    background: var(--bg-color);
}

@media only screen and  (max-width: 768px) {
    .cabecalho {
        height: 72px;
        justify-content: space-around;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}